doctype html
html(lang="en")

  head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Lockstep.js
    meta(name="description" content="A JavaScript library to create accurate timers.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="main.css")

  body

    section
      h2 Clock
      table.clock
        tr.microseconds
          th Microseconds
          td.output 0
          td
            input
        tr.milliseconds
          th Milliseconds
          td.output 0
          td
            input
        tr.seconds
          th Seconds
          td.output 0
          td
            input
        tr.minutes
          th Minutes
          td.output 0
          td
            input
        tr.hours
          th Hours
          td.output 0
          td
            input
        tr.days
          th Days
          td.output 0
          td
            input

    section
      h2 Elapsed
      table.elapsed
        tr.microseconds
          th Microseconds
          td.output 0
          td
            input
        tr.milliseconds
          th Milliseconds
          td.output 0
          td
            input
        tr.seconds
          th Seconds
          td.output 0
          td
            input
        tr.minutes
          th Minutes
          td.output 0
          td
            input
        tr.hours
          th Hours
          td.output 0
          td
            input
        tr.days
          th Days
          td.output 0
          td
            input

    section
      h2 Count
      table.count
        tr.start
          th Start
          td.output 0
          td
            input
        tr.stop
          th Stop
          td.output 0
          td
            input
        tr.reset
          th Reset
          td.output 0
          td
            input

    section
      button.start Start
      button.stop Stop
      button.reset Reset
      button.resetCount Reset with Count
      p
        label(for="elapsed") Elapsed
        input(type="checkbox" name="type" id="elapsed" value="elapsed")
      p
        label(for="clock") Clock
        input(type="checkbox" name="type" id="clock" value="clock")
      p
        label(for="count") Count
        input(type="checkbox" name="type" id="count" value="count")
      button.set Set
      button.add Add
      button.subtract Subtract
      button.clear Clear

    script(src="../lockstep.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="jquery.js")
    script(src="main.js")
