body {
  font-family: Arial, sans-serif;
  margin: 20px;
  font-size: 14px;
}

table {
  width: 100%;
}

th {
  font-weight: normal;
  text-align: left;
  padding: 2px 5px;
  background-color: #eee;
}

td {
  padding: 3px 5px 4px;
}

.output {
  width: 99%;
}

input {
  width: 50px;
}

h2 {
  font-size: 18px;
  margin: 0 0 5px;
}

section {
  margin-bottom: 20px;
}

button {
  margin-right: 5px;
}
