doctype html
html(lang="en")

  head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Lockstep.js
    meta(name="description", content="A JavaScript library to create accurate timers.")
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body

    script(src="lockstep.js")
